/* variables de colores */
:root {
    --texto-claro: #FFFFFF;
    --texto-oscuro: #000000;
    --color-primario: #EBC5DA;
    --color-primario-claro: #F5E1EC;
    --color-secundario: #D8E6B5;
    --color-secundario-claro: #EFF5E1;
    --color-terciario: #5AB1CF;
    --color-terciario-claro: #A0D3E3;
    --color-cuaternario: #00797E;
    --color-cuaternario-claro: #00C5CC;
    --color-quintenario: #54595F;
    --color-quintenario-claro: #737a85;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-terciario-claro);
}

::-webkit-scrollbar-thumb {
    background: var(--color-terciario);
}

/* variables de fuentes */
.text-primary-ti {
    color: var(--color-primario);
}

.bg-primary-ti {
    background-color: var(--color-primario);
}

.text-secondary-ti {
    color: var(--color-secundario);
}

.bg-secondary-ti {
    background-color: var(--color-secundario);
}

.text-tertiary-ti {
    color: var(--color-terciario);
}

.bg-tertiary-ti {
    background-color: var(--color-terciario);
}

.text-quaternary-ti {
    color: var(--color-cuaternario);
}

.bg-quaternary-ti {
    background-color: var(--color-cuaternario);
}

.text-quintenary-ti {
    color: var(--color-quintenario);
}

.bg-quintenary-ti {
    background-color: var(--color-quintenario);
}

.btn.btn-primary-ti {
    color: var(--texto-oscuro);
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.btn.btn-primary-ti:hover {
    color: var(--texto-oscuro);
    background-color: var(--color-primario-claro);
    border-color: var(--color-primario-claro);
}

.btn.btn-primary-ti:active {
    color: var(--texto-oscuro);
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.btn.btn-secondary-ti {
    color: var(--texto-oscuro);
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
}

.btn.btn-secondary-ti:hover {
    color: var(--texto-oscuro);
    background-color: var(--color-secundario-claro);
    border-color: var(--color-secundario-claro);
}

.btn.btn-secondary-ti:active {
    color: var(--texto-oscuro);
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
}

.btn.btn-tertiary-ti {
    color: var(--texto-claro);
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
}

.btn.btn-tertiary-ti:hover {
    color: var(--texto-claro);
    background-color: var(--color-terciario-claro);
    border-color: var(--color-terciario-claro);
}

.btn.btn-tertiary-ti:active {
    color: var(--texto-claro);
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
}

.btn.btn-quaternary-ti {
    color: var(--texto-claro);
    background-color: var(--color-cuaternario);
    border-color: var(--color-cuaternario);
}

.btn.btn-quaternary-ti:hover {
    color: var(--texto-claro);
    background-color: var(--color-cuaternario-claro);
    border-color: var(--color-cuaternario-claro);
}

.btn.btn-quaternary-ti:active {
    color: var(--texto-claro);
    background-color: var(--color-cuaternario);
    border-color: var(--color-cuaternario);
}

.btn.btn-quintenary-ti {
    color: var(--texto-claro);
    background-color: var(--color-quintenario);
    border-color: var(--color-quintenario);
}

.btn.btn-quintenary-ti:hover {
    color: var(--texto-claro);
    background-color: var(--color-quintenario-claro);
    border-color: var(--color-quintenario-claro);
}

.btn.btn-quintenary-ti:active {
    color: var(--texto-claro);
    background-color: var(--color-quintenario);
    border-color: var(--color-quintenario);
}

.btn.btn-outline-primary-ti {
    color: var(--color-primario);
    border-color: var(--color-primario);
}

.btn.btn-outline-primary-ti:hover {
    color: var(--texto-oscuro);
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.btn.btn-outline-primary-ti:active {
    background-color: var(--color-primario-claro);
    border-color: var(--color-primario-claro);
}

.btn.btn-outline-secondary-ti {
    color: var(--color-secundario);
    border-color: var(--color-secundario);
}

.btn.btn-outline-secondary-ti:hover {
    color: var(--texto-oscuro);
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
}

.btn.btn-outline-secondary-ti:active {
    background-color: var(--color-secundario-claro);
    border-color: var(--color-secundario-claro);
}

.btn.btn-outline-tertiary-ti {
    color: var(--color-terciario);
    border-color: var(--color-terciario);
}

.btn.btn-outline-tertiary-ti:hover {
    color: var(--texto-claro);
    background-color: var(--color-terciario);
    border-color: var(--color-terciario);
}

.btn.btn-outline-tertiary-ti:active {
    background-color: var(--color-terciario-claro);
    border-color: var(--color-terciario-claro);
}

.btn.btn-outline-quaternary-ti {
    color: var(--color-cuaternario);
    border-color: var(--color-cuaternario);
}

.btn.btn-outline-quaternary-ti:hover {
    color: var(--texto-claro);
    background-color: var(--color-cuaternario);
    border-color: var(--color-cuaternario);
}

.btn.btn-outline-quaternary-ti:active {
    background-color: var(--color-cuaternario-claro);
    border-color: var(--color-cuaternario-claro);
}

.btn.btn-outline-quintenary-ti {
    color: var(--color-quintenario);
    border-color: var(--color-quintenario);
}

.btn.btn-outline-quintenary-ti:hover {
    color: var(--texto-claro);
    background-color: var(--color-quintenario);
    border-color: var(--color-quintenario);
}

.btn.btn-outline-quintenary-ti:active {
    background-color: var(--color-quintenario-claro);
    border-color: var(--color-quintenario-claro);
}

.btn-text-ti {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-primario-claro);
    border: transparent solid 1px;
    user-select: none;
    background: transparent;
}

.btn-text-ti:hover {
    color: var(--color-primario);
    font-weight: bold;
}

.text-primary-ti, .link-primary-ti {
    color: var(--color-primario);
}

.link-primary-ti:hover {
    color: var(--color-primario-claro);
}

.text-secondary-ti, .link-secondary-ti {
    color: var(--color-secundario);
}

.link-secondary-ti:hover {
    color: var(--color-secundario-claro);
}

.text-tertiary-ti, .link-tertiary-ti {
    color: var(--color-terciario);
}

.link-tertiary-ti:hover {
    color: var(--color-terciario-claro);
}

.text-quaternary-ti, .link-quaternary-ti {
    color: var(--color-cuaternario);
}

.link-quaternary-ti:hover {
    color: var(--color-cuaternario-claro);
}

.text-quintenary-ti, .link-quintenary-ti {
    color: var(--color-quintenario);
}

.link-quintenary-ti:hover {
    color: var(--color-quintenario-claro);
}

.error-bg {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.info-bg {
    background-color: blue;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.warning-bg {
    background-color: yellow;
    padding: 4px 8px;
    border-radius: 4px;
}

.debug-bg {
    background-color: green;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.bg-deg-primary-1 {
    background: linear-gradient(90deg, var(--color-primario) 0%, var(--color-secundario) 100%);
}

.bg-deg-primary-2 {
    background: linear-gradient(90deg, var(--color-primario) 0%, var(--color-terciario) 100%);
}

.bg-deg-primary-3 {
    background: linear-gradient(90deg, var(--color-primario) 0%, var(--color-cuaternario) 100%);
}

.bg-deg-primary-4 {
    background: linear-gradient(90deg, var(--color-primario) 0%, var(--color-quintenario) 100%);
}

.bg-deg-secondary-1 {
    background: linear-gradient(90deg, var(--color-secundario) 0%, var(--color-primario) 100%);
}

.bg-deg-secondary-2 {
    background: linear-gradient(90deg, var(--color-secundario) 0%, var(--color-terciario) 100%);
}

.bg-deg-secondary-3 {
    background: linear-gradient(90deg, var(--color-secundario) 0%, var(--color-cuaternario) 100%);
}

.bg-deg-secondary-4 {
    background: linear-gradient(90deg, var(--color-secundario) 0%, var(--color-quintenario) 100%);
}

.bg-deg-tertiary-1 {
    background: linear-gradient(90deg, var(--color-terciario) 0%, var(--color-primario) 100%);
}

.bg-deg-tertiary-2 {
    background: linear-gradient(90deg, var(--color-terciario) 0%, var(--color-secundario) 100%);
}

.bg-deg-tertiary-3 {
    background: linear-gradient(90deg, var(--color-terciario) 0%, var(--color-cuaternario) 100%);
}

.bg-deg-tertiary-4 {
    background: linear-gradient(90deg, var(--color-terciario) 0%, var(--color-quintenario) 100%);
}

.bg-deg-quaternary-1 {
    background: linear-gradient(90deg, var(--color-cuaternario) 0%, var(--color-primario) 100%);
}

.bg-deg-quaternary-2 {
    background: linear-gradient(90deg, var(--color-cuaternario) 0%, var(--color-secundario) 100%);
}

.bg-deg-quaternary-3 {
    background: linear-gradient(90deg, var(--color-cuaternario) 0%, var(--color-terciario) 100%);
}

.bg-deg-quaternary-4 {
    background: linear-gradient(90deg, var(--color-cuaternario) 0%, var(--color-quintenario) 100%);
}

.bg-deg-quintenary-1 {
    background: linear-gradient(90deg, var(--color-quintenario) 0%, var(--color-primario) 100%);
}

.bg-deg-quintenary-2 {
    background: linear-gradient(90deg, var(--color-quintenario) 0%, var(--color-secundario) 100%);
}

.bg-deg-quintenary-3 {
    background: linear-gradient(90deg, var(--color-quintenario) 0%, var(--color-terciario) 100%);
}

.bg-deg-quintenary-4 {
    background: linear-gradient(90deg, var(--color-quintenario) 0%, var(--color-cuaternario) 100%);
}
